@{
    Layout = "_Layout";
    
        <div class="hero-text">
            <h1>Om os</h1>
        </div>


        }

        <div class="homepage-infoText">
            <h1>Hvem er vi?</h1>
            <div class="border"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ad corrupti autem quod rerum! Ipsum omnis possimus odio nisi quibusdam a tenetur! Sed, consequatur. Cumque nemo porro blanditiis corrupti! Delectus est velit veritatis dignissimos quos fuga modi earum explicabo animi. Sit, tempora. Id veniam vero facere cupiditate, molestiae saepe tenetur placeat sunt maiores odit iure ipsa voluptatum laboriosam. Hic repellendus laudantium, optio nesciunt rem vero fugit, porro ullam, error dolore consequatur molestiae incidunt harum! Expedita illum officia nihil reprehenderit aut ipsa dolor explicabo illo consequatur aliquid ratione libero eum consectetur amet, omnis ducimus beatae laudantium dolore! Voluptatum cupiditate libero et?
            </p>
        </div>
