@{
    Layout = "_Layout";

    <div class="hero-text">
        <h1>Surf Spotter</h1>
    </div>
    <div class="sub-hero-text">
        <label>Undersøg. Planlæg. Surf.</label>
    </div>
    @*<div class="overlay">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="Assets/Images/Header.mp4" type="video/mp4">
        </video>
        </div>*@


        }

        <img class="infoImage1" id="infoImage1" src="Assets/Images/hvad_tilbyder_vi.jpg"></img>

        <div class="homepage-infoText1">
            <h2 style="padding-bottom: 20px;">Hvad tilbyder vi?</h2>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud.
            </span>
            <label class="contentLabel1" style="font-weight: 600;">
                <br>
                <i class="fas fa-check" style="margin-top: 35px;"></i>
                Opdateret bølge og vejr data
                </br>
                <br>
                <i class="fas fa-check"></i>
                Oprettelser af private spots
                </br>
                <br>
                <i class="fas fa-check"></i>
                Surf community
                </br>
            </label>
        </div>
        <p>

        </p>
        <img class="infoImage2" id="infoImage1" src="Assets/Images/surfboard_boxblur.jpg"></img>

        <div class="homepage-infoText2">
            <h2 style="padding-bottom: 20px;">Hvad tilbyder vi?</h2>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud.
            </span>
            <label class="contentLabel2" style="font-weight: 600;">
                <br>
                <i class="fas fa-check" style="margin-top: 35px;"></i>
                Opdateret bølge og vejr data
                </br>
                <br>
                <i class="fas fa-check"></i>
                Oprettelser af private spots
                </br>
                <br>
                <i class="fas fa-check"></i>
                Surf community
            </br>
        </label>
    </div>

    <p>

    </p>
    <!--Vejr data hentes fra yr-api.js-->
    <!--<h1 id="airTemp" class="airTemp">Loading...</h1>
    <h1 id="airPress" class="airPress">Loading...</h1>
    <h1 id="windSpeed" class="windSpeed">Loading...</h1>
    <h1 id="probPercipitation" class="probPercipitation">Loading...</h1>


    <script src="JS/yr-api.js"></script>-->
