/* myStyle.css */

body, html {
  height: 100%;
  margin: 0;
  font-family:  Arial, Helvetica, sans-serif;
  line-height: 24px;

}

h1 {
  font-weight: bold;
  font-size: 45px;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  color: rgb(61, 61, 61);
}

p {
  padding: 3.5%;
}

span{
  line-height: 1.5;
  color: rgb(102, 102, 102);
}

td {
    min-width:125px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
}

table{
  width: 250px;
  border-collapse: collapse;
}

.dataTable {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 100px;
    text-align: center;
}

.storemapper-iw-container{
  padding: 0;
  background-color: black;
}

.infowindowHeader{
  background-color: blue;
}

.contentLabel1{
  color: rgb(62, 81, 100);
}

header {
  position: relative;
  background-color: black;
  height:65vh;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}



header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  }
    
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.goToBody{
  z-index: 6;
  position: relative;
  vertical-align: center;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  margin-left: 49%;
  margin-top: 25%;
  animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}
.goToBody:hover {
  z-index: 3;  
}

.fa-arrow-down {
  color: rgb(255, 196, 0);
 
}

.fa-arrow-down:hover {
  color: rgb(214, 142, 9);
}

@keyframes example {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:15px;}
  99%  {left:0px; top:0px;}
}

.fa-check{
  color: rgb(0, 128, 64);
}
.wave{
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave2{
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -75%);
  color: rgb(255, 196, 0);
  z-index: 2;
}

.sub-hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 75%);
  color: white;
  z-index: 2;
}

.homepage-infoText1{
  text-align: left;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: 50%;
  margin-right: 25%;
}

.infoImage1{
  height: 35%;
  width: 27%;
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 2%;
  float: left;
  box-shadow: 5px 10px 25px rgb(175, 175, 175);
}

.homepage-infoText2{
  text-align: left;
  margin-top: 11%;
  margin-bottom: 4%;
  margin-left: 22.5%;
  margin-right: 50%;
}

.infoImage2{
  height: 75%;
  width: 30%;
  margin-left: 2.5%;
  margin-right: 25%;
  float: right;
}

.maps{
  margin-top: 5%;
}


.maps{
  width:50%;
  height:75%;
  margin-left: 25%;
}