@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model surf_spotter_dot_net_core.ViewModels.SpotsViewModel
@{
    Layout = "_Layout";
}


<div class="makeCommentCon">
    <form action="CreateSpot" method="post">
        <div class="form-group">
            <label asp-for="CurrentSpot.Name"></label>
            <input placeholder="Add a public comment..." class="commentDscInput" asp-for="CurrentSpot.Name" />

        </div>
        <div class="form-group">
            <label asp-for="CurrentSpot.Lat"></label>
            <input placeholder="Add a public comment..." asp-for="CurrentSpot.Lat" />
        </div>
        <div class="form-group">
            <label asp-for="CurrentSpot.Lng"></label>
            <input placeholder="" asp-for="CurrentSpot.Lng" />
        </div>
        <div class="form-group">
            <label asp-for="CurrentSpot.SpotStatus"></label>
            <input placeholder="" asp-for="CurrentSpot.SpotStatus" />
        </div>
        <input style="margin:auto" type="submit" value="Add Comment" class="submit-btn" />
    </form>
</div>

<div class="spotSelectDiv">
    <form action="CreateSpot" method="post">
        <select class="spotSelect"


               
                    asp-for="CurrentSpot.Id"
                    asp-items="@(new SelectList(Model.Spots,"Id","Name"))">
                    
               

        </select>
        

        <input style="margin:auto" type="submit" value="Delete" class="submit-btn" />
    </form>
</div>

